<%- include('partials/header') %>
<main>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque similique, ipsam eum omnis soluta iure recusandae voluptatum fugiat quasi quo quas molestias qui sint expedita culpa eligendi fuga? Quis, rerum!</h2>

</main>

<%- include('partials/footer') %>
